header {
    /*width: 1920px;*/
    /*height: 78px;*/
    /*padding: 16px 220px 16px 220px;*/
    /*justify-content: space-between;*/
    background-color: #FFF;
}

.wrapper {
    max-width: 1200px;
    min-width: 720px;
    margin: 0 auto;
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper div {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.logo span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-style: normal;
    font-size: 31px;
    color: #FFB30E;
}

.logo span.orange {
    color: #F17228;
}

.buttons {
    /*float: right;*/
}

.main {
    width: 1920px;
    height: 661px;
    background-color: #fccd23;
}
.name {
    display: flex;
    list-style-type: none;
}
.food {
    /*margin-left: 259.5px;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    /*width: 60.81px;*/
    /*height: 36.77px;*/
  color: #F17228;
    font-size: 31.11px;
    font-style: normal;
    text-align: center;
}
.waGon {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    width: 90.5px;
    height: 36.77px;
    color: #FFB30E;
    font-size: 31.11px;
    text-align: center;
}
.deliver {
    width: 83px;
    height: 18px;
    font-size: 18px;
    line-height: 100%;
    color: #424242;
    text-align: center;
}
.marker {
    width: 14px;
    height: 25px;
    font-weight: 900;
    text-align: center;
    color: #FFB30E;
    line-height: 25.2px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
